<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.salomaa.cordova.permission" version="0.0.1">
    <name>Permission</name>
    <description>Cordova Permission Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,permission</keywords>
    <js-module src="www/permission.js" name="Permission">
        <clobbers target="Permission" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Permission">
                <param name="ios-package" value="Permission"/>
            </feature>
        </config-file>
        <header-file src="src/ios/Permission.h" />
        <source-file src="src/ios/Permission.m" />
    </platform>
</plugin>
